//
// These are the base styles for hewebal.com
//
// This site is built on top of the
// Bootstrap framework so this
// SASS stylesheet pulls variables
// from that framework.
//

// Define our colors
$heweb-red: #7a181f;
$heweb-blue: #004991;
$heweb-light-blue: #c6dbf1;
$black: #000;
$white: #fff;
$footer-bg: #222;

// Change primary color
$brand-primary: $heweb-red;
$link-color: $heweb-red;
$link-hover-color: darken( $link-color, 15% );

// Define our fonts

// Change Bootstrap font
$open-sans: 'Open Sans', sans-serif;
$font-family-sans-serif: $open-sans;
$font-family-base: $font-family-sans-serif;
$font-size-base: 18px;
$line-height-base: 1.7;

// Import our "overwrite Bootstrap" variables
@import "../../../bootstrap/scss/bootstrap/_variables";

// Import Bootstrap
@import "../../../bootstrap/scss/_bootstrap";

html{
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
body {
    background: $footer-bg;
    min-height: 100%;
}

// Hide these elements visibly, but make sure they're still viewable by screen readers
.screen-reader-text {
    display: block;
    width: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
    text-indent: -9999px;
}

.clear {
    clear: both;
}

// Set the width
.container,
.container-fluid {
    max-width: 1170px;
    padding-left: 30px;
    padding-right: 30px;
}

a {
    text-decoration: underline;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0;
}

#skip-to-content {
    display: block;
    position: fixed;
    left: -1000px;
    top: -1000px;
    width: 0;
    height: 0;
    text-align: left;
    overflow: hidden;
    z-index: 1000000;
}

#hewebal-wrapper {
}

$banner-height: 35px;
#hewebal-banner {
    background: $white;
    overflow: auto;
    height: $banner-height;
    
    .hewebal-twitter {
        float: left;
        overflow: auto;
        background: url( '../images/twitter-bird-black.png' ) left center no-repeat;
        background-size: auto 18px;
        padding: 0 0 0 27px;
        height: $banner-height;
        line-height: $banner-height;

        .hashtag {
            line-height: $banner-height;
            font-size: 1em;
            line-height: 1;
            font-weight: 400;
            color: $heweb-blue;
        }

    }

    ul#hewebal-banner-menu {
        float: right;
        list-style: none;
        overflow: auto;
        margin: 0;

        li {
            display: block;
            float: left;
            list-style: none;
            margin: 0 0 0 15px;
            font-size: 0.75em;
            line-height: $banner-height;
            color: rgba( $black, 0.7 );

            a {
                color: inherit;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    color: $link-color;
                }

            }

        }

    }

}

$header-height: 180px;
$header-bottom-height: 50px;
$header-top-height: $header-height - $header-bottom-height;
$header-left-width: 168px;
$header-left-border-width: 3px;
#hewebal-header {
    background: $heweb-red;
    height: $header-height;
    overflow: hidden;

    .container-fluid {
        position: relative;
        padding-right: 0;
    }

    .header-left {
        position: absolute;
        left: $grid-gutter-width;
        top: 0;
        width: $header-left-width;
        height: $header-height;
        padding: 0;
        border-right: 2px solid $white;

        &:before {
            content: '';
            background: url( '../images/russell-hall-header.jpg' ) right center repeat-x;
            position: absolute;
            right: 0;
            top: 0;
            width: 2000px;
            height: $header-height;
        }

        .header-left-inside {

            &:before {
                content: '';
                background: rgba( $black, 0.5 );
                position: absolute;
                right: 0;
                top: 0;
                width: 2000px;
                height: $header-height;
            }

        }

        .hewebal-logo {
            display: block;
            width: 100%;
            height: $header-height;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 100;

            img {
                width: auto;
                max-width: none;
                height: $header-height - 40px;
                margin: 20px 0 0 0;
            }

        }

    }

    .header-right {
        padding: 0 0 0 $header-left-width;
        height: $header-height;
        position: relative;
        z-index: 0;

        &:before {
            content: '';
            background: $heweb-red;
            position: absolute;
            left: $header-left-width;
            top: 0;
            width: 3000px;
            height: $header-height;
            z-index: -1;
        }

        .header-right-top-wrapper {
            display: block;
            width: 100%;
            height: $header-top-height;
            position: absolute;
            left: 0;
            top: 0;
            padding: 0 0 0 $header-left-width;

            .header-right-top {
                height: $header-top-height;
                position: relative;
            }

        }

        .header-right-bottom-wrapper {
            display: block;
            width: 100%;
            height: $header-bottom-height;
            overflow: visible;
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 0 0 0 $header-left-width;

            .header-right-bottom {
                display: block;
                height: $header-bottom-height;
                color: $white;
                padding: 0 0 0 20px;
                line-height: $header-bottom-height;
                position: relative;
                z-index: 0;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 200%;
                    height: 100%;
                    background: #444; //#004990;
                    border-top: 2px solid darken( $heweb-red, 10% );
                    z-index: -1;
                }

                a {
                    color: $white;
                }

            }

        }

    }

}

// When the navbar is open
@media not all and (max-width: $grid-float-breakpoint) {

    $navbar-side-padding: 18px;
    #hewebal-navbar {
        background: none;
        margin: 0;
        border: 0;
        padding: 0;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 10px;
        border-radius: 0;

        .navbar-brand {
            display: block;
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
            text-indent: -9999px;
            overflow: hidden;
        }

        .navbar-collapse {
            margin: 0;
            padding: 0;
        }

        &.navbar-default {

            .navbar-nav {

                & > li {
                    text-transform: uppercase;
                    font-weight: 300;
                    margin: 0 0 0 5px;

                    & > a {
                        display: block;
                        background: none;
                        color: rgba( $white, 0.9 );
                        text-decoration: none;
                        padding: 10px $navbar-side-padding;
                        position: relative;
                        z-index: 0;

                        &:hover {
                            background: darken( $heweb-red, 4% );
                        }

                    }

                    &:first-child {
                        margin-left: 0;

                        a {
                            padding-left: 20px;
                        }

                    }

                    &.active {

                        & > a {
                            background: darken( $heweb-red, 10% );
                            font-weight: 600;
                            color: $white;

                        }

                    }

                }

            }

        }
        
    }

}

#hewebal-main {
    background: $white;
    padding: 0 0 40px 0;

    .hewebal-h1 {
        background: rgba( $black, 0.05 );
        padding: 15px 0;

        h1 {
            font-size: 35px;
            margin: 0;
            text-transform: uppercase;
        }

    }

}

.graduate-sponsors {
    text-align: center;

    img {
        display: block;
        width: auto;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

}

.schedule-header {
    font-size: 25px;
    text-transform: uppercase;
    margin: 35px 0 0 0;
}

$schedule-border-color: rgba( $black, 0.1 );
.schedule-table {
    border-bottom: 1px solid $schedule-border-color;
    margin: 20px 0;

    .schedule-row {
        clear: both;
        overflow: auto;
        border-top: 1px solid $schedule-border-color;
        padding: 15px 0;

        .schedule-item {
            display: block;
            clear: both;
            background: none;

            &.time {
                font-size: 0.85em;
                padding: 0;
                color: rgba( $black, 0.65 );
            }

            &.event {
                overflow: auto;

                .session {
                    float: left;
                    width: 50%;
                    padding: 0 13px 0 0;

                    .event-header {
                        font-size: 1.2em;
                        line-height: 1.5;
                        margin: 0 0 8px 0;
                    }

                    & + .session {
                        padding: 0 0 0 13px;
                    }

                    *:last-child {
                        margin-bottom: 0;
                    }

                }

                .event-header {
                    font-weight: bold;
                }

                .event-location {
                    display: block;
                }

            }

        }

        &.auditorium {
            background: rgba( $heweb-light-blue, 0.3 );
        }

        &.break {
            background: rgba( $black, 0.01 );

            .event-header {
                font-weight: normal;
                font-style: italic;
            }

        }

        &.current {
            position: relative;
            overflow: visible;
            z-index: 0;
            border-top: 0;

            &:before {
                content: '';
                background: rgba( #f9ff00, 0.2 );
                position: absolute;
                left: -100px;
                top: 0;
                width: 200%;
                height: 100%;
                border-top: 1px solid $schedule-border-color;
                border-bottom: 1px solid $schedule-border-color;
                z-index: -1;
            }

        }

    }

    .schedule-row.current + .schedule-row {
        border-top: 0;
    }

}

// Tweak the map page
body.page-template-map-php {

    #hewebal-main {

        .container-fluid {
            max-width: none;
            padding: 0;
        }

    }

}

.hewebal-map {
    width: 100%;
    min-height: 400px;
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;

    iframe {
        width: 100%;
        height: 100%;
        border: 0;
        margin: 0;
        padding: 0;
    }

    .view-fullscreen {
        position: absolute;
        left: 10px;
        top: 52px;
        font-size: 0.9em;
        line-height: 1.6;
    }

    &.is-fullscreen {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }

}

#hewebal-footer {
    background: $footer-bg;
    min-height: 100px;
    border-top: 2px solid #000;
    color: $white;
    text-align: center;
    padding: 30px 0 35px 0;
    font-size: 0.8em;
    line-height: 1.6;

    a {
        color: inherit;
    }

    .container-fluid {
        max-width: 800px;
    }

    .heweb-logo {
        display: block;
        margin: 0 auto 8px auto;
        width: auto;
        height: 100px;
    }

    ul.footer-list {
        list-style: none;
        margin: 0;
        padding: 0;
        color: rgba( $white, 0.8 );
        font-size: 0.9em;
        line-height: 1.5;

        li {
            display: inline-block;
            margin: 0;

            &:before {
                content: '-';
                padding: 0 7px 0 4px;
            }

            &:first-child {

                &:before {
                    content: '';
                    padding: 0;
                }

            }

        }

    }

}

// Small and Larger
@media not all and (min-width: 0) and (max-width: $screen-xs-max) {

}

// Medium and Larger
@media not all and (min-width: 0) and (max-width: $screen-sm-max) {

   .schedule-table {

        .schedule-row {

            .schedule-item {
                display: block;
                clear: none;
                float: left;

                &.time {
                    width: 15%;
                    padding: 0 10px;
                    line-height: 2;
                }

                &.event {
                    width: 85%;
                    padding: 0 0 0 10px;
                }

            }

       }

   }

}